@import "mixins";
@import "normalize";
@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&family=Rubik:wght@300&display=swap");

$background-color: #181818;
$primary-color: #cfcfcf;
$font-family: "Ubuntu", sans-serif;
$gradient1: linear-gradient(92.7deg, #56d364 -1.37%, #79c0ff 78.71%);
$gradient2: linear-gradient(141.27deg, #ff904e -4.24%, #ff5982 21.25%, #ec68f4 44.33%, #79e2ff 83.46%);
$gradient3: linear-gradient(130deg, #027bfd -24.67%, #9f51fb 53.55%);

$headerHeight: 3.5rem;
$footerHeight: 3rem;
$inputBoxHeight: 2.2rem;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
.chats {
    scroll-behavior: smooth;
}

p::selection {
    color: #000;
    background: chartreuse;
}

body {
    background-color: $background-color;
    color: $primary-color;
    font-family: $font-family;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

button {
    cursor: pointer;
}

header {
    position: relative;
    height: $headerHeight;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    background: darken($background-color, 5);
    box-shadow: darken($background-color, 10) 0px 2px 4px;

    .online_status {
        position: relative;

        .led {
            @include led(0.75rem, lime);
        }

        .online_count {
            inset: 0;
            top: 1rem;
            right: 50%;
            position: absolute;
            font-family: "Electrolize", sans-serif;
            color: lime;
            font-size: 0.8rem;
            transform: translateX(-50%);
        }
    }

    h1 {
        @include gradientText($gradient2);
        font-size: 1.8rem;
        background-size: 200%;
        font-family: "Rubik", sans-serif;
        animation: gradientHeading 10s ease infinite;

        @keyframes gradientHeading {
            0%,
            100% {
                background-position: 0 50%;
            }

            50% {
                background-position: 100% 50%;
            }
        }
    }

    .setting.icon {
        cursor: pointer;
        width: 2rem;
        animation: rotate 2s infinite linear paused forwards;

        &:hover {
            animation-play-state: running;
        }

        @keyframes rotate {
            to {
                transform: rotate(360deg);
            }
        }
    }
}

.welcomePage {
    // display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: #181818;
    z-index: 10;
    overflow: scroll;
    @include noScrollBar();

    h2 {
        font-weight: lighter;
        text-align: center;
        font-size: 2.3em;
        margin: 20vh auto;

        span {
            @include gradientText($gradient1);
            font-weight: normal;
        }
    }

    form#inputUsername {
        margin: 17em auto 4em auto;
        max-width: 45em;
        display: none;

        input {
            width: 85%;
            border-radius: 0.3em;
            padding: 7px;
            box-shadow: #000 2px 2px 4px;
            display: block;
            font-size: 20px;
            margin: 0.75em auto;
            border: 2px solid;

            &[type="text"] {
                border-color: #666;
                background-color: #313131;
                color: #fff;

                &:focus {
                    outline: none;

                    &:invalid {
                        border-color: orangered;
                    }

                    &:valid {
                        border-color: lime;
                    }
                }
            }

            &[type="submit"] {
                background: $gradient1;
                border-color: #181818;
                color: #000;
            }
        }
    }

    .loader {
        margin-top: 15em;
        display: flex;
        justify-content: center;
        align-items: center;

        // display: none;
        .wave {
            width: 4px;
            height: 5em;
            background: linear-gradient(45deg, cyan, #fff);
            margin: 10px;
            animation: wave 1s linear infinite;
            border-radius: 20px;
            transform: scale(0);

            @for $i from 2 through 10 {
                &:nth-child(#{$i}) {
                    animation-delay: $i * 0.1s;
                }
            }

            @keyframes wave {
                0%,
                100% {
                    transform: scale(0);
                }

                50% {
                    transform: scale(1);
                }
            }
        }
    }
}

.typing_status {
    position: fixed;
    background: darken($background-color, 5);
    width: 100%;
    text-align: center;
    z-index: 5;
    top: $headerHeight;
    font-size: 1rem;
    padding: 0.2rem;
    font-style: italic;
    color: darken(chartreuse, 4);
    animation: blink 0.5s infinite alternate linear;

    @keyframes blink {
        from {
            color: darken(chartreuse, 4);
        }

        to {
            color: darken(chartreuse, 20);
        }
    }
}

main {
    .online_users,
    form#input_box,
    .about,
    .chats {
        position: fixed;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: $background-color;
    }

    .online_users,
    .about {
        padding: 0px 0.8rem;

        @include large-screen {
            padding: 0px 1.25rem;
        }

        & > h2 {
            text-align: center;
            font-size: 1.8rem;
            margin: 3rem 0px 2rem 0px;
        }
    }

    .online_users {
        z-index: 2;
        left: -100%;
        height: calc(100vh - ($headerHeight));
        cursor: pointer;
        @include scrollBar($gradient1, 0.2em);

        & > h2 {
            @include gradientText($gradient1);
        }

        .users_list {
            .user {
                @include box();
                margin: 0.75rem 0.25rem;
                padding: 0.75rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;

                &:last-child {
                    margin-bottom: 3rem;
                }

                .details {
                    .name {
                        font-size: 1rem;
                        margin-bottom: 4px;
                    }

                    .last_seen {
                        font-size: 0.75rem;
                        color: darken($primary-color, 20);
                        font-style: italic;
                    }
                }

                .status {
                    &.online {
                        @include led(12px, lime);
                    }

                    &.offline {
                        @include led(12px, red);
                    }
                }
            }
        }
    }

    .about {
        z-index: 3;
        left: 100%;
        background-color: $background-color;
        height: calc(100vh - ($headerHeight));

        h2 {
            @include gradientText($gradient3);
        }

        p {
            font-size: 1rem;
            margin: auto auto 2rem auto;
            text-align: justify;
        }

        button {
            width: 100%;
            font-size: 1rem;
            padding: 0.4rem;
            margin: 0.55em auto;
            border-radius: 0.25rem;
            transition: transform 0.3s;
            border: 1px solid transparent;
            box-shadow: #000 2px 2px 4px;

            &:hover {
                transform: scale(0.95);
            }

            &:active {
                transform: scale(0.8);
            }

            &.scroll,
            &.sound {
                background: darken(#fff, 20);
            }

            &.logout {
                background-color: orangered;
            }

            &.viewSource {
                background: $gradient1;
            }

            &.bugReport {
                background: $gradient3;
            }
        }
    }

    .chats {
        @include scrollBar($gradient3, 0.2em);
        height: calc(100vh - ($headerHeight + $footerHeight));

        & > div:last-child {
            margin-bottom: 4rem;
        }

        .message {
            @include box();
            width: 80%;
            padding: 0.2rem;

            &.receive {
                float: left;
            }

            &.send {
                float: right;

                .username {
                    @include gradientText($gradient2);
                }
            }

            .username {
                @include gradientText();
                font-size: 13px;
                padding: 0.2rem 0 0 0.4rem;
                display: inline-block;

                @include large-screen {
                    font-size: 1rem;
                    font-weight: normal;
                }
            }

            .country {
                display: inline-block;
                color: darken($primary-color, 25);
                font-size: 0.7em;
            }

            .text {
                font-size: 14px;
                font-weight: lighter;
                padding: 2px 0 0px 0.5rem;
                word-break: break-word;

                a {
                    font-style: italic;
                }

                @include large-screen {
                    font-size: 1rem;
                }
            }

            .time {
                font-size: 0.55rem;
                text-align: right;
                font-style: italic;
                color: darken($primary-color, 25);
                padding: 4px 0.4rem 0.2rem 0;
                font-family: "Electrolize", sans-serif;

                @include large-screen {
                    font-size: 0.7rem;
                }
            }
        }
    }

    form#input_box {
        $minHeight: 2.2rem;

        height: $footerHeight;
        min-height: $minHeight;
        bottom: 0;
        z-index: 1;
        display: grid;
        grid-template-columns: 5fr 1fr;
        gap: 6px;
        padding: 6px;

        @include large-screen {
            gap: 3rem;
            padding: 0.25rem 1.5rem;
        }

        button,
        input {
            border-radius: 0.3rem;
            min-height: $minHeight;
        }

        input {
            width: 100%;
            color: $primary-color;
            border: 2px solid #666;
            background-color: #313131;
            font-size: 1.15rem;
            padding-left: 0.5rem;

            &:focus {
                outline: none;

                &:invalid {
                    border-color: orangered;
                }

                &:valid {
                    border-color: chartreuse;
                }
            }
        }

        button {
            background: $gradient2;
            border: none;

            img {
                width: 18px;
                height: 18px;
            }
        }
    }
}

@media screen and (min-width: 600px) {
    main {
        $chatScreenWidth: 60vw;
        $sidePagesWidth: calc((100vw - $chatScreenWidth) / 2);

        .chats {
            .message {
                width: 60%;
            }
        }

        .chats,
        form#input_box {
            width: $chatScreenWidth;
            left: $sidePagesWidth;
        }

        .online_users {
            width: $sidePagesWidth;
            left: 0;
        }

        .about {
            width: $sidePagesWidth;
            left: $chatScreenWidth + $sidePagesWidth;
        }
    }
}
