body {
  background-color: #121212;
  min-height: 10vh;
  color: #ddd;
  margin: 0;
  padding: 0;
}

nav {
  height: 3.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Electrolize", sans-serif;
  color: chartreuse;
  z-index: 100;
  background-color: #121212;
  box-shadow: #000 0px 2px 6px;
}

nav h1 {
  background: linear-gradient(316deg,
      #0ff 10%,
      #ff0,
      orange 40%,
      blueviolet 60%,
      #0ff 80%);
  background-size: 200% auto;
  animation: shine 7s linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8em;
}

nav .infoIcon {
  font-size: 1.4em !important;
  position: absolute;
  right: 0.5em;
  color: orange;
}

nav .usersIcon {
  position: absolute;
  left: 1.3rem;
  width: 10px;
  background-color: lime;
  box-shadow: 0px 0px 6px 3px;
  color: lime;
  border-radius: 100%;
  height: 10px;
  animation: onlineUsersIcon infinite 0.5s alternate ease-in-out;
}

.onlineUsersCount {
  position: absolute;
  left: 1rem;
  margin-top: 2.5rem;
  font-size: 0.8rem;
}

#chat {
  margin-top: 3.7rem;
  margin-bottom: 55px;
  overflow: hidden;
}

.message {
  background: #222;
  position: relative;
  padding: 10px;
  border-radius: 0.5em;
  width: 75%;
  margin: 0.5rem 0.7rem;
  float: left;
  box-shadow: #000 2px 2px 4px, inset #6d6d6d 2px 2px 2px;
  transition: all 0.3s;
}

.message:last-child {
  margin-bottom: 40px;
}

.message:hover {
  transform: scale(1.05) !important;
}

.message.send {
  float: right;
  background-color: darkslategray;
  border-top-right-radius: 0.2rem;
}

.message.receive {
  border-top-left-radius: 0.2rem;
}

p.username {
  font-size: 12px;
  margin: -2px 0px 0px -2px;
  color: chartreuse;
  font-family: "Poppins", sans-serif;
}

.message.send p.username {
  text-align: right;
  display: none;
}

p.msg-text {
  margin: auto;
  padding: 3px;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Electrolize", sans-serif;
  word-break: break-word;
  color: #ccc;
}

p.msg-text a {
  color: orange;
  text-decoration: none;
}

p.msg-time {
  font-size: 0.65em;
  width: 100%;
  text-align: right;
  /* margin: -5px; */
  margin-bottom: -7px;
  margin-top: 0px;
  color: #8b8b8b;
  font-family: "Open Sans", sans-serif;
}

.message.send p.msg-time {
  margin: -2px;
}

form#message-form {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #101010;
  border-radius: 10px 10px 0px 0px;
  box-shadow: #000000 0px -2px 6px;
}

textarea#message-input {
  background: #242424;
  /* height: 25px; */
  width: 75%;
  margin: 5px;
  margin-top: 10px;
  border: 2px #666 solid;
  border-radius: 0.5em;
  font-family: "Open Sans", sans-serif;
  color: #ccc;
  transition: all 0.3s;
  padding: 5px;
  padding-bottom: 0px;
}

textarea#message-input:focus {
  outline: none;
  border-color: red;
}

textarea#message-input:focus:valid {
  border-color: lime;
}

button#message-btn {
  background-color: lime;
  height: 35px;
  bottom: 15%;
  position: absolute;
  display: inline;
  margin-bottom: 2px;
  border: 2px solid #121212;
  border-radius: 5px;
  width: 16%;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  transition: 0.5s all;
  box-shadow: black 2px 2px 4px;
}

#message-form:invalid button#message-btn {
  background-color: orangered;
}

button#message-btn:hover {
  transform: scale(1.1);
  background-color: orange;
}

input#message-input::placeholder {
  color: #eee;
  opacity: 0.6;
  padding-left: 10px;
}

section#info {
  top: 0px;
  width: 100%;
  left: 100%;
  height: 100vh;
  background: #111;
  z-index: 10;
  position: fixed;
  padding-top: 3.75rem;
  font-family: "Electrolize", sans-serif;
  /* display: none; */
}

section#info h2,
section#onlineUsers h2 {
  color: lime;
  text-align: center;
}

section#info p {
  width: 90%;
  margin: auto;
  text-align: justify;
  color: #bbb;
}

section#onlineUsers {
  top: 0px;
  width: 100%;
  right: 100%;
  height: 100vh;
  background: #111;
  z-index: 5;
  position: fixed;
  padding-top: 3.75rem;
  overflow-y: scroll;
  font-family: "Electrolize", sans-serif;
  /* display: none; */
}

#onlineUsers>div:last-child {
  margin-bottom: 100px;
}

p.details b {
  color: orange;
}

#info button {
  --border-radius: 8px;
  --border-width: 3px;
  appearance: none;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 10.5vh;
  padding: 1em 2em;
  border: 0;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  color: #a5a5a5;
  z-index: 2;
}

#info button::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(#488cfb,
      #29dbbc,
      #ddf505,
      #ff9f0e,
      #e440bb,
      #655adc,
      #488cfb);
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
}

#info button:hover::after {
  animation-play-state: running;
}

#info button:hover {
  color: #eee;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}

@keyframes onlineUsersIcon {
  from {
    background-color: lime;
    box-shadow: lime 0px 0px 6px 3px;
  }

  to {
    background-color: #398b39;
    box-shadow: #398b39 0px 0px 2px 1px;
  }
}

#info button,
#info button::after {
  box-sizing: border-box;
}

#info button:active {
  --border-width: 4px;
}

p.onlineUserName {
  margin: 0px;
}

div.onlineUser {
  background: #202020;
  max-width: 87%;
  margin: 7px auto;
  padding: 15px 10px;
  position: relative;
  border-radius: 0.4rem;
  box-shadow: #000 2px 2px 4px, inset #6a6a6a 2px 2px 4px;
}

.status {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 100%;
  background-color: red;
  box-shadow: red 0 0 5px 2px;
  position: absolute;
  left: 93%;
  top: 45%;
}

span.status.online {
  background-color: lime;
  box-shadow: lime 0 0 5px 2px;
}

.loader,
.pleaseWait {
  position: fixed;
  top: 42%;
  font-size: 2em;
  text-align: center;
  width: 100%;
  color: #777;
  font-family: "Electrolize";
  animation: loader infinite 0.5s alternate;
}

p.pleaseWait {
  top: 55%;
  font-size: 0.8em;
  animation: none;
}

@keyframes loader {
  from {
    color: #999;
  }

  to {
    color: #555;
  }
}

p.lastSeen {
  font-size: 12px;
  margin: 0px;
  color: #afafaf;
}

@media screen and (min-width: 600px) {
  .message {
    max-width: 50%;
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.scrollbar {
  height: 0.2rem;
  background: linear-gradient(to right, #30cfd0 0%, lawngreen 100%);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.supported {
  color: lime;
}

.notsupported {
  color: orangered;
}

.fa-sign-out {
  color: orangered;
}

#info>p:nth-child(4)>a {
  color: orange;
  text-decoration: none;
}

span.county {
  color: #aaa;
  padding-left: 5px;
  font-size: 10px;
}

.typing p {
  color: lawngreen;
  font-style: italic;
  width: auto;
  margin: 0px 5px;
  font-family: "Electrolize", sans-serif;
  animation: typing infinite 0.5s alternate linear;
}

.typing {
  padding: 5px;
  position: fixed;
  /* bottom: 3.8em; */
  top: 4em;
  background: #101010;
  border-radius: 0px 6px 6px 0px;
  z-index: 15;
  box-shadow: #000 2px 2px 4px, inset #686868 1px 1px 2px;
  left: 0%;
}

.typing:empty {
  display: none;
}

@keyframes typing {
  from {
    color: lawngreen;
  }

  to {
    color: rgb(70, 87, 54);
  }
}